body {
	background-image: url("../pics/mario-desktop.png");
	background-size: 100%;
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.box {
	width: 200px;
	height: 200px;
	/* background-color: #6ab04c; */
	margin: 10px;
	border-radius: 10px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
 /* background-color: #badc58; */
}

.x-mark {
	font-size: 10em;
	/* margin: 0 auto; */
	/* flex-shrink: 0; */
}

/* .active-red { */
	/* background-color: #eb4d4b; */
/* } */

/* .active-blue { */
	/* background-color: #4834d4; */
/* } */

/* Flip code */

.box {
	position: relative;
}

/* Code from the video */

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
  position: absolute;
  width: 200px;
  height: 200px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
/* .thecard:hover{
  transform: rotateY(180deg);
} */

.thecard.flip {
	transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  /* background: #6ab04c; */
	background-image: url("../pics/questionBox.png");
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.active-red .theback {
	/* background: #eb4d4b; */
	background-image: url("../pics/mario-head.png");
}

.active-blue .theback {
	/* background: #4834d4; */
	background-image: url("../pics/mushroom-pic.png");
}

/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}


/* Reset Button */
#reset-button {
	height: fit-content;
	margin-top: 36px;
	/* background-color: #4834d4; */
}

/* #reset-button:hover {
	background-color: #badc58;
} */

h1 {
	margin-right: 21px;
}

.game-status {
	margin-top: 20px;
}
